/* ==========================================================================
Devices page styles
========================================================================== */
.logo {
  height: 200px;
}

.logo-FITBIT {
  width: 100%;
  height: 120px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../../assets/images/u54.png') no-repeat center center;
  background-size: contain;
  margin-top: 30px;
}
.logo-GARMIN {
  width: 100%;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../../assets/images/u64.gif') no-repeat center center;
  background-size: contain;
}
.logo-IHEALTH {
  width: 100%;
  height: 68px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../../assets/images/u71.png') no-repeat center center;
  background-size: contain;
  margin-top: 70px;
}

.device-card {
  min-width: 300px;
}
