<mat-expansion-panel [disabled]="isDisabled" class="wmd-panel" [hideToggle]="true">
  <mat-expansion-panel-header collapsedHeight="100px">
    <mat-panel-title>
      <!-- <div class="patient-profile-image">
        <img src="assets/images/with-my-doc-logo.png" width="50" alt="">  
      </div> -->
      <div class="wmd-spacer"></div>
      <div class="wmd-panel-heading">
        <em class="wmd-panel-title">
          {{ clientAndVitals?.lastName }}, {{ clientAndVitals?.firstName }}
          <span class="wmd-hint-text">ID: {{ clientAndVitals.id }}</span>
        </em>
        <div class="wmd-fab-group">
        <button 
          (click)="openPatientDetails($event)" 
          mat-mini-fab color='primary'>
          <mat-icon>
            history
          </mat-icon>
        </button>
        <button (click)="openDialog($event)" 
          mat-mini-fab color='primary'>
          <mat-icon>
            speaker_notes
          </mat-icon>
        </button>
        <button 
          routerLink="/alerts-config" 
          mat-mini-fab color='primary'>
          <mat-icon>
            add_alert
          </mat-icon>
        </button>
        <button 
          (click)="email($event)" 
          mat-mini-fab color='primary'>
          <mat-icon>
              email
          </mat-icon>
        </button>
        <button (click)="call($event)" 
          mat-mini-fab color='primary'>
          <mat-icon>
              phone_alt
          </mat-icon>
        </button>
      </div>
    </div>
    </mat-panel-title>
    <mat-panel-description>
      <div class="wmd-indicator-group">
          <button [matTooltip]="'Heart rate ' 
                + clientAndVitals?.vitals[0]?.pulse 
                +  ' ' 
                +  units.HEART_RATE" 
                (click)="$event.stopPropagation()" 
                mat-button color='primary'>
            <span 
              [class]="getIndicatorClass(alerts.pulse, 'fas fa-heartbeat') || 'wmd-status-ok fas fa-heartbeat'">
            </span>
          </button>
      <button [matTooltip]="clientAndVitals?.vitals[0]?.temp  
            +  ' ' 
            + units.TEMPERATURE" 
              (click)="$event.stopPropagation()" 
              mat-button color='primary'>
        <span
          [class]="getIndicatorClass(alerts.temp, 'fas fa-temperature-high') || 'wmd-status-ok fas fa-temperature-high'"></span>
      </button>
      <button [matTooltip]="'Weight ' 
              + clientAndVitals?.vitals[0]?.weight 
              +  ' ' 
              + units.WEIGHT" 
              (click)="$event.stopPropagation()" 
              mat-button color='primary'>
        <span [class]="getIndicatorClass(alerts.weight, 'fas fa-weight') || 'wmd-status-ok fas fa-weight'"></span>
      </button>
      <button [matTooltip]="'Blood pressure ' 
            + clientAndVitals?.vitals[0]?.diastolic + '/' 
            + clientAndVitals?.vitals[0]?.systolic" 
            (click)="$event.stopPropagation()" 
            mat-button color='primary'>
        <span
          [class]="getIndicatorClass(alerts.diastolic, 'fas fa-burn') || getIndicatorClass(alerts.systolic, 'fas fa-burn') || 'wmd-status-ok fas fa-burn' "></span>
      </button>
      <button [matTooltip]="'Respiratory rate ' 
            + clientAndVitals?.vitals[0]?.respiratoryRate 
            +  ' ' 
            + units.RESPIRATORY" 
            (click)="$event.stopPropagation()" 
            mat-button color='primary'>
        <span 
          [class]="getIndicatorClass(alerts.respiratoryRate, 'fas fa-wind') || 'wmd-status-ok fas fa-wind'"></span>
      </button>
      <button 
        [matTooltip]="'Compliant'" 
        (click)="$event.stopPropagation()" 
        mat-button
        color='primary'>
        <span 
          [class]="getIndicatorClass(alerts.pulse, 'fas fa-user-shield') || 'wmd-status-ok fas fa-user-shield'">
        </span>
      </button>
    </div>
    </mat-panel-description>

  </mat-expansion-panel-header>
  <mat-card style="box-shadow: none; border: 0;">
    <!-- Show the most recent vital -->
    <wmd-patient-vitals-table 
      class="wmd-dashed-top" 
      [vital]="clientAndVitals?.vitals[0]">
    </wmd-patient-vitals-table>
    <!-- Chart displaying all patient activity monitored to date -->
    <wmd-patient-metrics-chart 
      [vitals]="clientAndVitals?.vitals">
    </wmd-patient-metrics-chart>
  </mat-card>
</mat-expansion-panel>
