.wmd-panel {
    .wmd-panel-heading {
        .wmd-panel-title {
            min-width: 160px;
            display: inline-block;
            margin-left: 1em;
            margin-top: 0.2em;   
            margin-bottom: 1em;
            font-weight: 700;
        }
    }
}

.wmd-indicator-group {
    position: relative;
    margin-top: 15px;
}

.wmd-patient-profile-info {
    padding-left: 1em;
}

.wmd-patient-profile-icon {
    width: 140px;

    img {
        opacity: 0.7;
    }
}

.patient-profile-image {
    top: 0;
    left: 0;
    width: 50px;
    height: auto;
    img {
        padding: 1em;
        width: 50px;
        height: 50px;
        background: #aaa;
        border-radius: 100%;
        box-shadow: 1px 1px 1px 1px #ccc;
        margin-top: 8px;
    }
}
.mat-button, 
.mat-flat-button, 
.mat-icon-button, 
.mat-stroked-button {
    padding: 0;
    min-width: 50px;
}

wmd-patient-vitals-table {
    width: 100%;
    padding-top: 1.5em;
    display: block;
    border-bottom: 1px #ccc dashed;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.material-icons {
    line-height: initial;
}