.wmd-legend-items {
    width: 500px;
    display: flex;
    .wmd-legend-item {
        padding: 0 1em;
        padding-top: 0;
        line-height: 1.25em;
        text-transform: uppercase;
        font-size: 0.85em;
        &.wmd-legend-item-ok,
        &.wmd-legend-item-warning,
        &.wmd-legend-item-critical {
            display: block;
            width: 22px;
            height: 22px;
            text-align: center;
            font-size: 8px;
            line-height: 22px;
            font-weight: 900;
            color: #fff;
            border-radius: 3px;
        }
        &.wmd-legend-label-critical,
        &.wmd-legend-label-warning,
        &.wmd-legend-label-ok {
            line-height: 1em;
            padding-bottom: 1em;
        }

        &.wmd-legend-item-ok {
            background-color: #2FAC66;
        }

        &.wmd-legend-item-warning {
            background-color: #F89000;
        }

        &.wmd-legend-item-critical {
            background-color: #E01A4F;
        }

        &.wmd-legend-label-ok {
            color: #2FAC66;
        }

        &.wmd-legend-label-warning {
            color: #F89000;
        }

        &.wmd-legend-label-critical {
            color: #E01A4F;
        }
    }
}