<mat-menu class="wmd-menu" #menu="matMenu">
  <button 
    (click)="showUserConfig($event)"
    class="wmd-menu-item" 
    mat-menu-item 
    color='primary'>
      <mat-icon>settings</mat-icon>
      Notifications
    </button>
    <button 
    (click)="$event.stopPropagation()" 
    class="wmd-menu-item" 
    routerLink="/patient-profile"
    mat-menu-item 
    color='primary'>
      <mat-icon>settings</mat-icon>
      Profile
    </button>
    <button 
    (click)="$event.stopPropagation()" 
    class="wmd-menu-item" 
    mat-menu-item 
    color='primary'>
      <mat-icon>settings</mat-icon>
      Monitoring Devices
    </button>
</mat-menu>
<nav>
<mat-toolbar color='accent' class="wmd-toolbar-large">
  <mat-toolbar-row>
    <a class="wmd-title" href="#"><img width="200" src="assets/images/with-my-doc-logo.png" alt=""></a>
    <span class="wmd-spacer"></span>
    <a [matMenuTriggerFor]="menu" class="wmd-icon">
      <mat-icon>
        settings
      </mat-icon>
    </a>
    <a routerLink="/account" class="wmd-icon">
      <mat-icon>
        person
      </mat-icon>
    </a>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <a routerLink="/" class="wmd-nav-item">
      <span class="fas fa-users"></span>&nbsp;
      <span>Dashboard</span>
    </a>
    <a routerLink="/alerts" class="wmd-nav-item">
      <span class="fas fa-exclamation-circle"></span>&nbsp;
      <span>Patient Events</span>
    </a>
    <a routerLink="/alerts-config" class="wmd-nav-item">
      <span class="fas fa-user-cog"></span>&nbsp;
      <span>Alert Rules</span>
    </a>
    <span class="wmd-spacer"></span>
    <mat-form-field>
        <mat-label>
            Hospital Name
        </mat-label>
        <mat-select>
          <mat-option>
            General Hospital
          </mat-option>
        </mat-select>
      </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<mat-toolbar color="primary" class="wmd-toolbar-large">
  <mat-toolbar-row>
    <mat-slide-toggle [checked]="true" (change)="showPatientsWithAlerts($event)">Show all alerts</mat-slide-toggle>
    <span class="wmd-spacer"></span>
    <mat-form-field class="wmd-nav-item">
      <mat-select selected="name" (selectionChange)="sort($event)" [(ngModel)]="sortPropName">
        <mat-option value="name">
          Sort by patient name
        </mat-option>
        <mat-option value="id">
          Sort by patient ID
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span class="wmd-spacer"></span>
    <mat-form-field class="wmd-nav-item">
        <input (keyup)="filter($event)" placeholder="Enter a patients by name, ID or caretaker ID" matInput/>
      </mat-form-field>
      <button mat-button>
        <mat-icon style="color: white">
          search
        </mat-icon>
      </button>
  </mat-toolbar-row>
</mat-toolbar>
</nav>  