<mat-menu class="wmd-menu" #menu="matMenu">
  <button 
    (click)="showUserConfig($event)"
    class="wmd-menu-item" 
    mat-menu-item 
    color='primary'>
      <mat-icon>settings</mat-icon>
      Notifications
    </button>
    <button 
    (click)="$event.stopPropagation()" 
    class="wmd-menu-item" 
    routerLink="/patient-profile"
    mat-menu-item 
    color='primary'>
      <mat-icon>settings</mat-icon>
      Profile
    </button>
    <button 
    (click)="$event.stopPropagation()" 
    class="wmd-menu-item" 
    mat-menu-item 
    color='primary'>
      <mat-icon>settings</mat-icon>
      Monitoring Devices
    </button>
</mat-menu>
<nav>
<mat-toolbar color='accent' class="wmd-toolbar-large">
  <mat-toolbar-row>
    <a class="wmd-title" href="#"><img width="200" src="assets/images/with-my-doc-logo.png" alt=""></a>
    <span class="wmd-spacer"></span>
    <a [matMenuTriggerFor]="menu" class="wmd-icon">
      <mat-icon>
        settings
      </mat-icon>
    </a>
    <a routerLink="/account" class="wmd-icon">
      <mat-icon>
        person
      </mat-icon>
    </a>
    <a mat-menu-item href="https://sso.test.aptitud.io/auth/realms/aptitudio/protocol/openid-connect/auth?client_id=withmydoc&redirect_uri=https://patient.withmydoc.com&response_type=code">Login</a>
    <a mat-menu-item href="https://sso.test.aptitud.io/auth/realms/aptitudio/protocol/openid-connect/logout?redirect_uri=https://patient.withmydoc.com">Log out</a>
  </mat-toolbar-row>
</mat-toolbar>
</nav>  