<div class="card h-100 text-center record">
    <div class="card-body align-middle">
        <table style="height: 100%; width:100%">
            <tbody>
            <tr>
                <td class="align-middle">
                    <div class="mt-1 mb-1">
                        <p class="lead text-primary text-uppercase font-weight-bold">{{ 'records.statistic.' + statistic.type | translate }}</p>
                    </div>
                    <table class="record-values">
                        <tr *ngFor="let value of statistic.values">
                            <ng-container *ngIf="value.primary !== false">
                                <td class="record-value-label"><span [innerHTML]="value.input + '.short' | translate"></span></td>
                                <td class="record-value">{{value.value | number:'1.0-2'}}</td>
                                <td class="record-value-unit" *ngIf="value.unit">{{value.unit}}</td>
                            </ng-container>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
