
<div *ngIf="record" class="card h-100 text-center record" [routerLink]="'/records/' + record.recordType" >
  <div class="card-body align-middle" > 
        <table style="height: 100%; width:100%">
            <tbody>
            <tr>
                <td class="align-middle">
                    <div class="mt-1 mb-1">
                        <wmd-record-type-icon [type]="record.recordType"></wmd-record-type-icon>
                    </div>
                    <div style="height: 70%;"> 
                        <table class="record-values" >
                            <tr *ngFor="let value of record.values">
                                <ng-container *ngIf="value.primary !== false">
                                    <td class="record-value-label"><span [innerHTML]="value.input + '.short' | translate"></span></td>
                                    <ng-container [ngSwitch]="value.type">
                                        <td class="record-value" *ngSwitchCase="'NUMBER'">{{value.value | number:'1.0-2'}}</td>
                                        <td class="record-value" *ngSwitchCase="'DATE_TIME'">{{toLocalDate(value.value) | date:'short'}}</td>
                                        <td class="record-value" *ngSwitchDefault>{{value.value}}</td>
                                    </ng-container>
                                    <td class="record-value-unit">
                                        <span *ngIf="value.unit">{{value.unit}}</span>
                                    </td>
                                </ng-container>
                            </tr>
                        </table>
                    </div>
                    <div class="mt-1">
                        <p class="text-uppercase text-primary font-weight-bold" [innerHTML]="record.recordType | translate"></p>
                    </div>
                    <div class="mt-1">
                        <span style="padding-right: 5px;">{{ toLocalDate(record.timestamp) }}</span>
                        <span *ngIf="record.deviceType" >({{ 'devices.type.' + record.deviceType | translate }})</span>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
