.example-form {
  min-width: 250px;
  max-width: 700px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}

mat-toolbar {
  background: transparent;
}