  <table>
    <th>
      <span class="fas fa-wind"></span>
      Respiratory Rate
    </th>
    <td>
      {{ vital?.respiratoryRate }}
    </td>
    <th>
      <span class="fas fa-heartbeat"></span>
      Pulse
    </th>
    <td>
      {{ vital?.pulse }}
    </td>
  </table>
  <table>
    <th>
      <span class="fas fa-burn"></span>
      Systolic
    </th>
    <td>
      {{ vital?.systolic }}
    </td>
    <th>
      <span class="fas fa-burn"></span>
      Diastolic
    </th>
    <td>
      {{ vital?.diastolic }}
    </td>
    <th>
      <span class="fas fa-weight"></span>
      Weight
    </th>
    <td>
      {{ vital?.weight }}
    </td>
  </table>