<mat-card style="min-height: 400px;">
  <mat-card-header>
    <mat-card-title>
      Provider Login
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="display: flex;">
    <div class="wmd-spacer"></div>
    <a href="https://sso.test.aptitud.io/auth/realms/aptitudio/protocol/openid-connect/auth?client_id=withmydoc&redirect_uri=https://patient.withmydoc.com&response_type=code" mat-raised-button color="primary">Login</a>
    <div class="wmd-spacer"></div>
  </mat-card-content>
</mat-card>